@use "../../Mixin.scss" as *;

section {
    @include dflex(center, center);
    width: 100%;
    height: 100dvh;
    padding: 2vh 3vw;
    position: relative;
}

// inscription
// =============================================================================
// inscription section
// ----------------------------------------------------------------------------

.inscription {
    .inscriptionImgContainer {
        position: relative;
        width: 50%;

        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1vw;
        }
        h1 {
            @include positionTopLeft(2%, 3%);
            color: white;
            font-size: 2vw;
        }
    }
    .inscriptionContainer {
        width: 50%;
        padding: 2vh 2vw;
        height: 100%;
        @include dflex(center, space-between, 2vh, column);
        color: black;
        .titleContainer {
            width: 100%;
            @include dflex(start, center, 0.5vw, column);
            button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                @include dflex(center, center, 0.5vw);
                img {
                    width: 1.4vw;
                    height: auto;
                }
                font-size: 1vw;
                font-weight: 500;
            }
            h2 {
                font-size: 2vw;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }
            p {
                font-size: 1vw;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.616);
                width: 60%;
                text-align: center;
                margin: 0 auto;
            }
        }
        form {
            width: 60%;
            height: 100%;
            @include dflex(center, space-between, 0, column);
            padding-top: 10vh;
            .inputs {
                width: 100%;
                @include dflex(center, start, 3vh, column);
                margin: auto 0;
                input {
                    width: 100%;
                    padding: 2vh 1vw;
                    border: rgba(0, 0, 0, 0.27) 0.1vw solid;
                    font-size: 1vw;
                    font-weight: 600;
                    color: #676262 !important;
                    border-radius: 0.5vw;
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                    &::placeholder {
                        color: rgba(0, 0, 0, 0.616);
                    }
                    &:focus {
                        border: rgba(0, 0, 0, 0.27) 0.1vw solid;
                    }
                    // type date
                    &[type="date"] {
                        // uppercase
                        text-transform: uppercase;
                    }
                }
                div {
                    width: 100%;
                    @include dflex(center, start, 0.5vw);
                    border: none;
                    position: relative;
                    border-radius: 0.5vw;
                    input {
                        border: none;
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 1.5vw;
                        margin-left: auto;
                        width: fit-content;
                        height: fit-content;
                        @include dflex(center, center);
                        @include positionRightBottom(5%, 50%);
                        transform: translate(50%, 50%);
                    }
                }
            }
        }
    }
    .buttonInscription {
        @include dflex(center, center, 2vh, column);
        width: 100%;
        button {
            width: 100%;
            padding: 1.9vh 0;
            background-color: rgb(0, 0, 0);
            border-radius: 0.5vw;
            color: white;
            border: none;
            font-size: 1vw;
            font-weight: 500;
            margin-top: 2vh;
            cursor: pointer;
        }
        p {
            font-size: 1vw;
            font-weight: 500;
            color: rgb(0, 0, 0);
            width: 60%;
            text-align: center;
            margin: 0 auto;
            a {
                color: rgb(0, 0, 0);
            }
        }
    }
    .pages {
        @include dflex(center, center, 0.5vw);
        margin-top: 5vh;
        .page {
            background-color: #cccccc;
            width: 1vh;
            height: 1vh;
            border-radius: 20vw;
            &.active {
                background-color: black;
                width: 2vw;
                height: 1vh;
                border-radius: 20vw;
            }
        }
    }
}

// ----------------------------------------------------------------------------

// media queries
// ----------------------------------------------------------------------------
// tablet
@media screen and (max-width: 1024px) {
}

// mobile
@media screen and (max-width: 768px) {
}
// ----------------------------------------------------------------------------
// =============================================================================
