@use "../../Mixin.scss" as *;

// profile
// =============================================================================
.profile {
    background-color: #f5f5f5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;

    .profileHeader {
        background-color: #A9B9C7;
        padding: 6vh 0 6vh 0;
        position: relative;
        width: 100%;
        margin-bottom: 8vh;

        .profileHeaderContent {
            width: 100%;
            padding: 0 5vw;
            @include dflex(flex-start, flex-start, 2vw);
            position: relative;

            .profileAvatar {
                width: 10vw;
                height: 10vw;
                border-radius: 50%;
                overflow: hidden;
                border: 0.3vw solid white;
                box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.1);
                flex-shrink: 0;
                position: absolute;
                bottom: 0;
                left: 5vw;
                transform: translateY(100%);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .profileInfo {
        @include dflex(flex-start, flex-start, 0.5vh, column);
        padding: 0 5vw;
        margin-left: 11vw;
        margin-top: -5vh;

        .profileName {
            @include dflex(center, flex-start, 1.5vw);

            h2 {
                font-size: 2vw;
                font-weight: 600;
                margin: 0;
                color: rgb(0, 0, 0);
            }

            .modifierLink {
                font-size: 0.9vw;
                color: rgba(0, 0, 0, 0.6);
                text-decoration: none;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    text-decoration: underline;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }

        .joinDate {
            font-size: 1vw;
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
        }

        .subscription {
            font-size: 1vw;
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
        }
    }

    .personalInfoSection {
        background-color: white;
        border-radius: 0.5vw;
        padding: 2vw;
        margin: 3vh 5vw;
        box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.1);

        .sectionHeader {
            @include dflex(center, space-between, 1vw);
            margin-bottom: 2vh;
            padding-bottom: 1.5vh;

            h3 {
                font-size: 1.3vw;
                font-weight: 600;
                margin: 0;
                color: rgb(0, 0, 0);
            }

            .preferencesLink {
                font-size: 0.85vw;
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                transition: all 0.2s ease;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                    text-decoration: underline;
                }
            }
        }

        .infoContainer {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .infoRow {
                display: grid;
                grid-template-columns: 200px 200px 200px;
                column-gap: 100px;

                .infoItem {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .label {
                        font-size: 0.85vw;
                        color: rgba(0, 0, 0, 0.5);
                        font-weight: 400;
                    }

                    .value {
                        font-size: 1vw;
                        color: rgb(0, 0, 0);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .securityInfoSection {
        background-color: white;
        border-radius: 0.5vw;
        padding: 2vw;
        margin: 3vh 5vw;
        box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.1);

        .sectionHeader {
            @include dflex(center, space-between, 1vw);
            margin-bottom: 2vh;
            padding-bottom: 1.5vh;

            h3 {
                font-size: 1.3vw;
                font-weight: 600;
                margin: 0;
                color: rgb(0, 0, 0);
            }

            .preferencesLink {
                font-size: 0.85vw;
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                transition: all 0.2s ease;

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                    text-decoration: underline;
                }
            }
        }

        .infoGrid {
            display: grid;
            grid-template-columns: minmax(100px, auto) minmax(150px, auto) minmax(150px, auto);
            grid-template-rows: auto;
            row-gap: 28px;
            column-gap: 35px;
            margin-top: 20px;

            .infoField {
                display: flex;
                flex-direction: column;
                gap: 3px;

                label {
                    font-size: 0.85vw;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 400;
                    margin: 0;
                }

                p {
                    font-size: 1vw;
                    color: rgb(0, 0, 0);
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}

// =============================================================================