@use "../../Mixin.scss" as *;

.activiteRecenteCard {
	@include dflex(center, center, 1vh);
	width: 100%;
	height: 100%;
	padding: 2vh 1.7vw;
	border-radius: 0.5vw;
	border: #d9d9d9 0.1vw solid;
	background-color: #ffffff;
	span {
		font-size: 1vw;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}
	p {
		font-size: 0.7vw;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.46);
	}
}
