@use "../../Mixin.scss" as *;

section {
    @include dflex(center, center, 0, column);
    width: 100%;
    height: 100dvh;
    padding: 2vh 2vw;
}

// hero
// =============================================================================
// hero section
// ----------------------------------------------------------------------------
.hero {
    gap: 3vh;
    height: 90.2dvh;
    // background-color: rgb(255, 0, 0);
    justify-content: end;
    h2 {
        font-size: 3vw;
        font-weight: 500;
        width: 50%;
        text-align: center;
    }
    .description {
        font-size: 1vw;
        font-weight: 400;
        text-align: center;
    }
    .Buttons {
        @include dflex(center, center, 2vw);
        margin-right: 7vw;
        button {
            cursor: pointer;
            padding: 1.2vh 1vw;
            border-radius: 10vw;
            font-size: 1vw;
            font-weight: 300;
            @include dflex(center, center, 0.7vw);
            border: rgba(0, 0, 0, 0.27) 0.1vw solid;
            background-color: transparent;
            &:first-child {
                background-color: black;
                color: white;
            }
        }
    }

    .heroImgContainer {
        width: 100%;
        // prend la hauteur du reste de l'ecran
        border-radius: 1vw;
        overflow: hidden;
        height: 60dvh;
        position: relative;
        @include dflex(end, space-between, 0);
        color: white;
        padding: 2.5vh 1vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .opportunities {
            z-index: 2;
            button {
                cursor: pointer;
                padding: 1vh 2vw;
                border-radius: 10vw;
                font-size: 1vw;
                font-weight: 500;
                @include dflex(center, center, 0.7vw);
                border: rgb(255, 255, 255) 0.1vw solid;
                color: white;
                background-color: transparent;
            }
            h3 {
                font-size: 3vw;
                font-weight: 400;
            }
            .descriptionOpportunities {
                font-size: 1.2vw;
                font-weight: 400;
            }
        }

        .buttonsContainer {
            width: 100%;
            @include dflex(center, end);
            flex-wrap: wrap;
            gap: 0.7vw;
            z-index: 2;
            button {
                cursor: pointer;
                padding: 1vh 2vw;
                border-radius: 10vw;
                width: fit-content;
                font-size: 1vw;
                font-weight: 500;
                @include dflex(center, center);
                border: none;
                color: rgb(0, 0, 0);
                background-color: white;
                // empecher le a la ligne
                white-space: nowrap;
                &:first-child {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------

// hero media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .hero {
        h2 {
            font-size: 3vw;
        }
        .description {
            font-size: 2vw;
            width: 70%;
        }

        .Buttons {
            margin: 0;
            button {
                width: 23vw;
                height: 6vh;
                font-size: 1.4vw;
                &:last-child {
                    font-size: 1.7vw;
                }
            }
        }
        .heroImgContainer {
            .opportunities {
                h3 {
                    font-size: 4vw;
                }
                .descriptionOpportunities {
                    font-size: 2vw;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .hero {
        h2 {
            font-size: 5vw;
        }
        .description {
            font-size: 3.5vw;
            width: 70%;
        }

        .Buttons {
            margin: 0;
            flex-direction: column;
            button {
                width: 70vw;
                height: 7vh;
                font-size: 3vw;
                &:last-child {
                    font-size: 3vw;
                }
            }
        }
        .heroImgContainer {
            .opportunities {
                h3 {
                    font-size: 4vw;
                }
                .descriptionOpportunities {
                    font-size: 2vw;
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------
// =============================================================================

// SwipeCollab
// =============================================================================

// SwipeCollab section
// ----------------------------------------------------------------------------
.SwipeCollab {
    height: 40dvh;
    h3 {
        font-size: 1.7vw;
        font-weight: 500;
    }
    .scrollHorizontale {
        display: flex;
        // gap: 6vw;
        width: 90%;
        height: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        .group {
            @include dflex(center, start, 6vw);
            animation: spin 8s infinite linear;
            padding-right: 6vw;
            img {
                flex: 0 0 2vw;
                width: auto;
                height: 15vh;
                object-fit: contain;
            }
        }
    }
    @keyframes spin {
        from {
            translate: 0;
        }
        to {
            translate: -100%;
        }
    }
}
// ----------------------------------------------------------------------------

// SwipeCollab media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .SwipeCollab {
        height: 30dvh;
        h3 {
            font-size: 2.3vw;
        }
        .scrollHorizontale {
            .group {
                img {
                    flex: 0 0 auto;
                    height: 7vh;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .SwipeCollab {
        height: 20dvh;
        h3 {
            font-size: 3vw;
        }
        .scrollHorizontale {
            .group {
                img {
                    flex: 0 0 auto;
                    height: 6vh;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------

// =============================================================================

// exploreNumerique
// =============================================================================

// exploreNumerique section
// ----------------------------------------------------------------------------
.exploreNumerique {
    @include dflex(start, start, 6vw, column);

    // exploreCategory
    // ------------------------------------------------------------------------
    .exploreCategory {
        @include dflex(start, start, 0, column);
        gap: 2vh;
        h3 {
            font-size: 1.7vw;
            font-weight: 500;
        }

        .category {
            @include dflex(start, start, 1vw);
            flex-wrap: wrap;
            button {
                @include dflex(center, center, 0.7vw);
                width: fit-content;
                white-space: nowrap;
                padding: 1vh 2vw;
                border-radius: 10vw;
                font-size: 1vw;
                font-weight: 500;
                border: none;
                background-color: rgba(240, 246, 255, 1);
            }
        }
    }
    // ------------------------------------------------------------------------

    // meilleurNumerique
    // ------------------------------------------------------------------------
    .meilleurNumerique {
        @include dflex(start, start, 2vh, column);
        height: fit-content;
        width: 100%;
        h3 {
            font-size: 1.7vw;
            font-weight: 500;
        }
        .coursDual {
            @include dflex(start, start, 2vw);
            width: 100%;

            .cours {
                @include dflex(start, start, 1vw, column);
                width: 50vw;
                height: 100%;
                // background-color: red;
            }
        }
    }
    // ------------------------------------------------------------------------
}
// ----------------------------------------------------------------------------

// Media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .exploreNumerique {
        // exploreCategory
        // -------------------------------------------------------------------
        .exploreCategory {
            h3 {
                font-size: 3vw;
            }
            .category {
                button {
                    padding: 1.5vh 3vw;
                    gap: 2vw;
                    font-size: 2vw;
                }
            }
        }
        // -------------------------------------------------------------------
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .exploreNumerique {
        // exploreCategory
        // -------------------------------------------------------------------
        .exploreCategory {
            h3 {
                font-size: 4vw;
            }
            .category {
                button {
                    padding: 1.5vh 3vw;
                    gap: 2vw;
                    font-size: 3vw;
                }
            }
        }
        // -------------------------------------------------------------------
    }
}

// ----------------------------------------------------------------------------
// =============================================================================

//
