@use "../../Mixin.scss" as *;

section {
	@include dflex(center, center, 0, column);
	width: 100%;
	height: 100dvh;
	padding: 2vh 2vw;
}

// hero section

.hero {
	gap: 3vh;
	height: 90.2dvh;
	// background-color: rgb(255, 0, 0);
	justify-content: end;
	h2 {
		font-size: 3vw;
		font-weight: 500;
		width: 50%;
		text-align: center;
	}
	.description {
		font-size: 1vw;
		font-weight: 400;
		text-align: center;
	}
	.Buttons {
		@include dflex(center, center, 2vw);
		margin-right: 7vw;
		button {
			cursor: pointer;
			padding: 1.2vh 1vw;
			border-radius: 10vw;
			font-size: 1vw;
			font-weight: 300;
			@include dflex(center, center, 0.7vw);
			border: rgba(0, 0, 0, 0.27) 0.1vw solid;
			background-color: transparent;
			&:first-child {
				background-color: black;
				color: white;
			}
		}
	}

	.heroImgContainer {
		width: 100%;
		// prend la hauteur du reste de l'ecran
		border-radius: 1vw;
		overflow: hidden;
		height: 60dvh;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.opportunities {
			z-index: 2;
			button {
			}
		}

		.buttonsContainer {
			z-index: 2;
		}
	}
}
