@use "../../Mixin.scss" as *;

// base section style
// =============================================================================
section {
    @include dflex(center, center, 0, column);
    width: 100%;
    height: 100dvh;
    padding: 2vh 2vw;
    position: relative;
}
// =============================================================================

// hero
// =============================================================================
// hero section
// ----------------------------------------------------------------------------
.hero {
    gap: 3vh;
    height: 90.2dvh;
    // background-color: rgb(255, 0, 0);
    justify-content: end;
    h2 {
        font-size: 3vw;
        font-weight: 500;
        width: 50%;
        text-align: center;
    }
    .description {
        font-size: 1vw;
        font-weight: 400;
        text-align: center;
    }
    .Buttons {
        @include dflex(center, center, 2vw);
        margin-right: 7vw;
        button {
            @include button2();
            &:last-child {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                border: rgba(0, 0, 0, 0.27) 0.1vw solid;
            }
        }
    }

    .heroImgContainer {
        width: 100%;
        // prend la hauteur du reste de l'ecran
        border-radius: 1vw;
        overflow: hidden;
        height: 60dvh;
        position: relative;
        @include dflex(end, space-between, 0);
        color: white;
        padding: 2.5vh 1vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // position: absolute;
            // top: 0;
            // left: 0;
            @include positionTopLeft();
            z-index: 1;
        }
        .opportunities {
            z-index: 2;
            button {
                cursor: pointer;
                padding: 1vh 2vw;
                border-radius: 10vw;
                font-size: 1vw;
                font-weight: 500;
                @include dflex(center, center, 0.7vw);
                border: rgb(255, 255, 255) 0.1vw solid;
                color: white;
                background-color: transparent;
            }
            h3 {
                font-size: 3vw;
                font-weight: 400;
            }
            .descriptionOpportunities {
                font-size: 1.2vw;
                font-weight: 400;
            }
        }

        .buttonsContainer {
            width: 100%;
            @include dflex(center, end);
            flex-wrap: wrap;
            gap: 0.7vw;
            z-index: 2;
            button {
                @include button();
                background-color: white;
                border: none;
                font-weight: 500;
                color: rgb(0, 0, 0);
                &:first-child {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------

// hero media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .hero {
        h2 {
            font-size: 3vw;
        }
        .description {
            font-size: 2vw;
            width: 70%;
        }

        .Buttons {
            margin: 0;
            button {
                width: 23vw;
                height: 6vh;
                font-size: 1.4vw;
                &:last-child {
                    font-size: 1.7vw;
                }
            }
        }
        .heroImgContainer {
            .opportunities {
                h3 {
                    font-size: 4vw;
                }
                .descriptionOpportunities {
                    font-size: 2vw;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .hero {
        h2 {
            font-size: 5vw;
        }
        .description {
            font-size: 3.5vw;
            width: 70%;
        }

        .Buttons {
            margin: 0;
            flex-direction: column;
            button {
                width: 70vw;
                height: 7vh;
                font-size: 3vw;
                &:last-child {
                    font-size: 3vw;
                }
            }
        }
        .heroImgContainer {
            .opportunities {
                h3 {
                    font-size: 4vw;
                }
                .descriptionOpportunities {
                    font-size: 2vw;
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------
// =============================================================================

// SwipeCollab
// =============================================================================

// SwipeCollab section
// ----------------------------------------------------------------------------
.SwipeCollab {
    height: 40dvh;
    h3 {
        font-size: 1.7vw;
        font-weight: 500;
    }
    .scrollHorizontale {
        display: flex;
        // gap: 6vw;
        width: 90%;
        height: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        .group {
            @include dflex(center, start, 6vw);
            animation: spin 8s infinite linear;
            padding-right: 6vw;
            img {
                flex: 0 0 2vw;
                width: auto;
                height: 15vh;
                object-fit: contain;
            }
        }
    }
    @keyframes spin {
        from {
            translate: 0;
        }
        to {
            translate: -100%;
        }
    }
}
// ----------------------------------------------------------------------------

// SwipeCollab media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .SwipeCollab {
        height: 30dvh;
        h3 {
            font-size: 2.3vw;
        }
        .scrollHorizontale {
            .group {
                img {
                    flex: 0 0 auto;
                    height: 7vh;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .SwipeCollab {
        height: 20dvh;
        h3 {
            font-size: 3vw;
        }
        .scrollHorizontale {
            .group {
                img {
                    flex: 0 0 auto;
                    height: 6vh;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------

// =============================================================================

// exploreNumerique
// =============================================================================

// exploreNumerique section
// ----------------------------------------------------------------------------
.exploreNumerique {
    @include dflex(start, start, 6vw, column);
    height: auto;
    // exploreCategory
    // ------------------------------------------------------------------------
    .exploreCategory {
        @include dflex(start, start, 0, column);
        gap: 2vh;
        h3 {
            font-size: 1.7vw;
            font-weight: 500;
        }

        .category {
            @include dflex(start, start, 1vw);
            flex-wrap: wrap;
            button {
                @include dflex(center, center, 0.7vw);
                width: fit-content;
                white-space: nowrap;
                padding: 1vh 2vw;
                border-radius: 10vw;
                font-size: 1vw;
                font-weight: 500;
                border: none;
                background-color: rgba(240, 246, 255, 1);
            }
        }
    }
    // ------------------------------------------------------------------------

    // meilleurNumerique
    // ------------------------------------------------------------------------
    .meilleurNumerique {
        @include dflex(start, start, 2vh, column);
        height: fit-content;
        width: 100%;
        h3 {
            font-size: 1.7vw;
            font-weight: 500;
        }
        .coursDual {
            @include dflex(start, start, 2vw);
            width: 100%;
            padding: 1vh 1vw;
            .cours {
                @include dflex(start, start, 1vw, column);
                width: 100%;
                height: 100%;
                background-color: rgba(240, 246, 255, 1);
                padding: 2vh 1vw;
                // background-color: red;

                .entete {
                    @include dflex(start, space-between);
                    gap: 1vh;
                    width: 100%;
                    h4 {
                        font-size: 1.2vw;
                        font-weight: 500;
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }
                }

                .coursDualCardContainer {
                    @include dflex(start, start, 1vw, column);
                    width: 100%;
                    height: 100%;
                    padding: 2vh 1vw;
                    overflow-y: auto;
                    .coursDualCard {
                        @include dflex(start, start, 1vw);
                        width: 100%;
                        height: 13vh;
                        background-color: rgb(255, 255, 255);
                        gap: 1vw;
                        img {
                            width: auto;
                            height: 100%;
                        }
                        div {
                            @include dflex(start, start, 1vh, column);
                            padding: 1vh 1vw;
                            h5 {
                                font-size: 1.2vw;
                                font-weight: 500;
                            }
                            p {
                                font-size: 1vw;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.64);
                                &:last-child {
                                    color: rgba(0, 0, 0, 0.44);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // ------------------------------------------------------------------------
    .voirPlus {
        @include button2();
        margin: 0 auto;
    }
}
// ----------------------------------------------------------------------------

// Media queries
// ----------------------------------------------------------------------------
// Tablet
@media screen and (max-width: 1024px) {
    .exploreNumerique {
        gap: 7vh;
        // exploreCategory
        // -------------------------------------------------------------------
        .exploreCategory {
            h3 {
                font-size: 3vw;
            }
            .category {
                button {
                    padding: 1.5vh 3vw;
                    gap: 2vw;
                    font-size: 2vw;
                }
            }
        }
        // -------------------------------------------------------------------

        // meilleurNumerique
        // -------------------------------------------------------------------
        .meilleurNumerique {
            h3 {
                font-size: 3vw;
            }
            .coursDual {
                flex-direction: column;
                .cours {
                    .entete {
                        h4 {
                            font-size: 2vw;
                        }
                    }
                    .coursDualCardContainer {
                        .coursDualCard {
                            height: 10dvh;
                            div {
                                h5 {
                                    font-size: 2vw;
                                }
                                p {
                                    font-size: 1.5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        // -------------------------------------------------------------------

        .voirPlus {
            font-size: 1.5vw;
            padding: 1.5vh 2vw;
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .exploreNumerique {
        gap: 10vh;
        // exploreCategory
        // -------------------------------------------------------------------
        .exploreCategory {
            h3 {
                font-size: 4vw;
            }
            .category {
                button {
                    padding: 1.5vh 3vw;
                    gap: 2vw;
                    font-size: 3vw;
                }
            }
        }
        // -------------------------------------------------------------------

        // meilleurNumerique
        // -------------------------------------------------------------------
        .meilleurNumerique {
            h3 {
                font-size: 4vw;
            }
            .coursDual {
                flex-direction: column;
                .cours {
                    .entete {
                        h4 {
                            font-size: 3vw;
                        }
                    }
                    .coursDualCardContainer {
                        .coursDualCard {
                            div {
                                h5 {
                                    font-size: 3vw;
                                }
                                p {
                                    font-size: 2vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        // -------------------------------------------------------------------

        .voirPlus {
            font-size: 2.5vw;
            padding: 1.5vh 2.5vw 1.5vh 4vw;
        }
    }
}

// ----------------------------------------------------------------------------
// =============================================================================

// about us
// =============================================================================

// about section
// ----------------------------------------------------------------------------
.aboutUs {
    flex-direction: row;
    background-color: black;
    color: white;
    padding-right: 7vw;
    .text {
        width: 70%;
        @include dflex(start, start, 10vh, column);
        div {
            @include dflex(start, start, 2vh, column);
            h3 {
                font-size: 3vw;
                font-weight: 500;
            }
            p {
                font-size: 1.4vw;
                width: 100%;
                font-weight: 400;
                &:nth-child(1) {
                    margin-bottom: 1vh;
                }
            }
        }
        .contact {
            gap: 0;
            p {
                font-size: 1vw;
                flex-wrap: nowrap;
                font-weight: 400;
                width: auto;
            }
            button {
                @include button2();
                font-size: 2vw;
                padding: 0;
            }
        }
    }
    .aboutUsImg {
        width: auto;
        height: 80%;
        border-radius: 1vw;
    }

    .cardInfo {
        // background-color: red;
        width: 30vw;
        height: 30vh;
        @include positionRightBottom(25%, 29%);

        .tauxDeComplection {
            margin-left: 4vw;
            padding: 2vh 1.3vw;
            border-radius: 1vw;
            width: fit-content;
            height: fit-content;
            z-index: 5;
            position: relative;
            flex-wrap: nowrap;
            background-color: white;
            color: black;
            @include dflex(center, center, 0.7vw);
            h4 {
                font-size: 1vw;
                font-weight: 600;
            }
            p {
                font-size: 0.7vw;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.404);
            }
        }
        .satisfaction {
            background-color: rgba(173, 159, 248, 1);
            width: 16vw;
            height: fit-content;
            padding: 1.2vh 1vw;
            border-radius: 1vw;
            margin-left: auto;
            margin-top: -2vh;
            z-index: 1;
            @include dflex(start, center, 0.7vw, column);
            .entete {
                @include dflex(start, end, 0.3vw);
                width: 100%;
                button {
                    @include button2();
                    font-size: 0.5vw;
                    padding: 1vh 0.7vw;
                    font-weight: 600;
                }
            }
            .textSatisfaction {
                @include dflex(start, start, 1vh, column);

                h4 {
                    font-size: 1vw;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.932);
                }
                p {
                    font-size: 0.6vw;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.616);
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }

        .apprenantActif {
            background-color: white;
            width: fit-content;
            height: fit-content;
            padding: 1.2vh 2vw;
            border-radius: 1vw;
            margin-top: -4vh;
            position: relative;
            z-index: 3;
            @include dflex(start, center, 0.7vw, column);
            color: black;
            h4 {
                @include dflex(center, start, 1vh);
            }
            p {
                font-size: 0.6vw;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.616);
            }
            &::before {
                content: "";
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 97%;
                height: 100%;
                border-radius: 1vw;
                background-color: rgba(255, 255, 255, 0.7);
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 94%;
                height: 100%;
                border-radius: 1vw;
                background-color: rgba(255, 255, 255, 0.4);
                z-index: -1;
            }
        }
    }
}

// ----------------------------------------------------------------------------

// media queries
// ----------------------------------------------------------------------------
// tablet
@media screen and (max-width: 1024px) {
}

// mobile
@media screen and (max-width: 768px) {
}
// ----------------------------------------------------------------------------

// =============================================================================
