@use "../../Mixin.scss" as *;

// section
// =============================================================================

// formations section
// ----------------------------------------------------------------------------

.formations {
    @include dflex(center, start, 5vh, column);
    width: 100%;
    height: auto;
    padding: 10vh 15vw;
    position: relative;
    .coursRecommande {
        @include dflex(start, center, 2vh, column);
        h2 {
            font-size: 2vw;
            font-weight: 500;
        }
        .cards {
            @include dflex(center, center, 2vh, column);
        }
    }
    .toutesNosFormations {
        @include dflex(start, center, 2vh, column);
        width: 100%;
        .entete {
            @include dflex(center, space-between);
            width: 100%;
            h2 {
                font-size: 2vw;
                font-weight: 500;
            }
            button {
                // inverser img et text avec proprieté
                flex-direction: row-reverse;
            }
        }
        .cards {
            @include dflex(center, center, 2vh, column);
            width: 100%;
        }
    }
    .pagination {
        @include dflex(center, center, 3vw);
        margin: 0 auto;
        .numbers {
            @include dflex(center, center, 2vw);
            button {
                @include dflex(center, center, 0.5vw);
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1vw;
                font-weight: 500;
                width: 2vw;
                height: 2vw;
                &.active {
                    // text-decoration: underline;
                    background-color: #f1f6ff;
                }
            }
        }
        button {
            @include dflex(center, center, 0.5vw);
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1vw;
            img {
                width: 1.5vw;
                height: auto;
            }
            font-weight: 500;

            &.prev {
                transform: rotate(180deg);
            }
            &.disabled {
                // background-color: red;
                cursor: not-allowed;
                img {
                    filter: invert(0.7);
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------

// obtentionCertif
// ----------------------------------------------------------------------------
.obtentionCertif {
    @include dflex(center, center);

    article {
        width: 99%;
        height: 80%;
        background-color: black;
        @include dflex(center, space-between, 2vw);
        padding: 2vh 1.5vw;
        border-radius: 2vw;
        position: relative;
        img {
            width: auto;
            height: 100%;
        }
        .texte {
            @include dflex(start, space-between, 2vh, column);
            height: 100%;
            width: 100%;
            h3 {
                font-size: 3.5vw;
                font-weight: 500;
                color: white;
            }
            p {
                font-size: 1.5vw;
                margin-top: 1vh;
                color: rgb(255, 255, 255);
                font-weight: 400;
                &:last-child {
                    text-align: right;
                    margin-left: auto;
                }
            }
        }
        .certifContenu {
            background-color: #ad9ff8;
            @include positionRightBottom(3%, 3%);
        }
    }
}
// ----------------------------------------------------------------------------

// media query
// ----------------------------------------------------------------------------

// tablet
@media screen and (max-width: 1024px) {
    .formations {
        padding: 2vh 2vw;
        .coursRecommande {
            .card {
                .description {
                    h3 {
                        font-size: 2vw;
                    }
                    p {
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: 768px) {
    .formations {
        padding: 2vh 2vw;
        .coursRecommande {
            .card {
                .description {
                    h3 {
                        font-size: 2vw;
                    }
                    p {
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------
// =============================================================================
