@use "../../Mixin.scss" as *;

.header {
    @include dflex(center, space-between);
    padding: 2vh 2vw;
    position: sticky;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.4vw);
    h1 {
        cursor: pointer;
        font-size: 1.5vw;
    }

    .navContainer {
        height: 2.5vh;
        // background-color: red;
        margin-left: 7vw;
        @include dflex(center, center, 2vw);
        nav {
            height: 100%;
            @include dflex(center, center);
            ul {
                @include dflex(center, center, 2vw);
                li {
                    cursor: pointer;
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-size: 0.9vw;
                        color: rgb(107, 107, 107);
                        font-weight: 500;
                        &:hover {
                            color: black;
                        }
                        transition: all 0.25s ease-in-out;
                    }
                }
            }
            border-right: 0.1vh solid black;
            padding-right: 2vw;
            transition: all 0.25s ease-in-out;
        }
        .connexion {
            cursor: pointer;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: 500;
            background-color: black;
            padding: 1.3vh 1vw 1.3vh 1.5vw;
            border-radius: 10vw;
            @include dflex(center, center, 1vw);
            transition: all 0.25s ease-in-out;
            &:hover {
                background-color: rgb(107, 107, 107);
            }
            font-size: 0.9vw;
        }
        transition: all 0.25s ease-in-out;
    }

    .buttons {
        @include dflex(center, center, 2vw);
        button {
            @include button();
            img {
                width: 1.3vw;
                height: auto;
                transition: all 0.25s ease-in-out;
            }
            &:first-child {
                width: 3vw;
                height: 3vw;
                border-radius: 50%;
            }
            &:last-child {
                padding: 1.2vh 1vw;
                border-radius: 10vw;
                font-size: 1.3vw;
                font-weight: 500;
            }
            &:hover {
                background-color: rgb(0, 0, 0);
                img {
                    filter: invert(1);
                }
                color: rgb(255, 255, 255);
            }
            transition: all 0.25s ease-in-out;
        }
    }

    &.header--hide {
        transform: translateY(-100%);
    }

    &.header--show {
        transform: translateY(0);
    }
    transition: all 0.25s ease-in-out;

    &.header-visible {
        opacity: 1;
    }
}

// Media queries

// Tablet
@media screen and (max-width: 1024px) {
    .header {
        h1 {
            font-size: 3vw;
        }
        .navContainer {
            nav {
                border-right: none;
                margin: 0;
                ul {
                    li {
                        a {
                            font-size: 1.5vw;
                        }
                    }
                }
            }

            .connexion {
                display: none;
            }
        }
        .buttons {
            button {
                img {
                    width: 2vw;
                }
            }
            img {
                width: 3vw;
            }
            button:first-child {
                width: 5vw;
                height: 5vw;
            }
            button:last-child {
                gap: 1.5vw;
                padding: 1.2vh 2vw;
                border-radius: 10vw;
                font-size: 2vw;
                font-weight: 500;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 768px) {
    .header {
        h1 {
            font-size: 5vw;
        }
        .navContainer {
            display: none;
        }
        .buttons {
            button {
                img {
                    width: 3vw;
                }
            }
            button:first-child {
                width: 8vw;
                height: 8vw;
            }
            button:last-child {
                gap: 1.5vw;
                padding: 2vw 3.5vw;
                border-radius: 10vw;
                font-size: 3vw;
                font-weight: 500;
            }
        }
    }
}
