@use "../../Mixin.scss" as *;

.header {
    position: sticky;
    padding: 2vh 2vw;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.4vw);

    &.header--hide {
        transform: translateY(-100%);
    }

    &.header--show {
        transform: translateY(0);
    }
    transition: all 0.25s ease-in-out;

    &.header-visible {
        opacity: 1;
    }
}
