@use "../../Mixin.scss" as *;

section {
    @include dflex(center, space-between);
    width: 100%;
    height: 100dvh;
    padding: 2vh 1vw;
}

// connexion
// =============================================================================
// connexion section
// ----------------------------------------------------------------------------
.connexion {
    .imgConnexionContainer {
        width: 50%;
        height: 100%;
        position: relative;
        @include dflex(center, center);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1 {
            @include positionTopLeft(2%, 3%);
            color: white;
            font-size: 2vw;
        }
        border-radius: 1vw;
        overflow: hidden;
    }
    .connexionContainer {
        width: 50%;
        height: 100%;
        @include dflex(center, space-between, 0, column);
        padding: 7vh 2vw;
        .titleContainer {
            button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                @include dflex(center, center, 0.5vw);
                img {
                    width: 1.2vw;
                    height: auto;
                }
                font-size: 1.1vw;
                font-weight: 500;
            }
            h2 {
                font-size: 3vw;
                font-weight: 600;
                width: 100%;
                text-align: center;
                margin-top: 2vh;
            }
            p {
                font-size: 1vw;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.616);
                width: 60%;
                text-align: center;
                margin: 0 auto;
                margin-top: 3vh;
            }
        }
        form {
            height: 100%;
            width: 60%;
            @include dflex(center, space-between, 0, column);
            padding-top: 15vh;
            .inputs {
                width: 100%;

                @include dflex(center, start, 3vh, column);
                input {
                    width: 100%;
                    padding: 2vh 1vw;
                    border: none;
                    font-size: 1vw;
                    font-weight: 400;
                    color: #676262 !important;
                    border-radius: 0.5vw;
                    background-color: rgba(0, 0, 0, 0.05);
                    &::placeholder {
                        color: rgba(0, 0, 0, 0.616);
                    }
                    &:focus {
                        border: rgba(0, 0, 0, 0.27) 0.1vw solid;
                    }
                }
                div {
                    width: 100%;
                    @include dflex(center, start, 0.5vw);
                    position: relative;
                    border-radius: 0.5vw;
                    input {
                        border: none;
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 1.5vw;
                        margin-left: auto;
                        width: fit-content;
                        height: fit-content;
                        @include dflex(center, center);
                        @include positionRightBottom(5%, 50%);
                        transform: translate(50%, 50%);
                    }
                }
            }
            .buttonConnexion {
                @include dflex(center, center, 2vh, column);
                width: 100%;
                button {
                    width: 100%;
                    padding: 1.9vh 0;
                    background-color: rgb(0, 0, 0);
                    border-radius: 0.5vw;
                    color: white;
                    border: none;
                    font-size: 1vw;
                    font-weight: 500;
                    margin-top: 2vh;
                    cursor: pointer;
                }
                p {
                    font-size: 1vw;
                    font-weight: 500;
                    color: rgb(0, 0, 0);
                    width: 60%;
                    text-align: center;
                    margin: 0 auto;
                    a {
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .pages {
                @include dflex(center, center, 1vw);
                margin-top: -13vh;
                .page {
                    background-color: black;
                    width: 2vw;
                    height: 1vh;
                    border-radius: 20vw;
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------

// media queries
// ----------------------------------------------------------------------------
// tablet
@media screen and (max-width: 1024px) {
    .connexion {
        .connexionContainer {
            width: 100%;
            .titleContainer {
                width: 100%;
                button {
                    font-size: 2vw;
                    img {
                        width: 3vw;
                    }
                }
                h2 {
                    font-size: 8vw;
                    margin-top: 1vh;
                }
                p {
                    font-size: 2vw;
                    margin-top: 2vh;
                }
            }
            form {
                width: 100%;
                padding-top: 10vh;
                .inputs {
                    input {
                        font-size: 2vw;
                    }
                }
                .buttonConnexion {
                    button {
                        font-size: 2vw;
                    }
                    p {
                        font-size: 2vw;
                    }
                }
                .pages {
                    margin-top: -10vh;
                    .page {
                        width: 3vw;
                        height: 1vh;
                    }
                }
            }
        }
        & .imgConnexionContainer {
            display: none;
        }
    }
}

// mobile
@media screen and (max-width: 768px) {
    .connexion {
        .connexionContainer {
            width: 100%;
            .titleContainer {
                width: 100%;
                button {
                    font-size: 3vw;
                    img {
                        width: 4vw;
                    }
                }
                h2 {
                    font-size: 10vw;
                    margin-top: 1vh;
                }
                p {
                    font-size: 3vw;
                    margin-top: 2vh;
                }
            }
            form {
                .inputs {
                    input {
                        font-size: 3vw;
                    }
                }
                .buttonConnexion {
                    button {
                        font-size: 3vw;
                    }
                    p {
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}
// ----------------------------------------------------------------------------
// =============================================================================
