// mixin center

// display flex mixin
// ===========================================================================
@mixin dflex($align: center, $justify: center, $gap: 0, $direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-direction: $direction;
}
// ===========================================================================

// position absolute / fixed mixin
// ===========================================================================

// position absolute top left
// --------------------------------------------------------------------------
@mixin positionTopLeft($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}
// --------------------------------------------------------------------------
// position absolute left bottom
// --------------------------------------------------------------------------
@mixin positionLeftBottom($left: 0, $bottom: 0) {
    position: absolute;
    left: $left;
    bottom: $bottom;
}
// --------------------------------------------------------------------------

// position absolute right bottom
// --------------------------------------------------------------------------
@mixin positionRightBottom($right: 0, $bottom: 0) {
    position: absolute;
    right: $right;
    bottom: $bottom;
}
// --------------------------------------------------------------------------

// position fixed top left
// --------------------------------------------------------------------------
@mixin positionFixedTopLeft($top: 0, $left: 0) {
    position: fixed;
    top: $top;
    left: $left;
}
// --------------------------------------------------------------------------

// position fixed left bottom
// --------------------------------------------------------------------------
@mixin positionFixedLeftBottom($left: 0, $bottom: 0) {
    position: fixed;
    left: $left;
    bottom: $bottom;
}

// position fixed right bottom
// --------------------------------------------------------------------------
@mixin positionFixedRightBottom($right: 0, $bottom: 0) {
    position: fixed;
    right: $right;
    bottom: $bottom;
}

// ===========================================================================

// button
// ===========================================================================

// button
// --------------------------------------------------------------------------
@mixin button() {
    cursor: pointer;
    padding: 1.2vh 1vw;
    border-radius: 10vw;
    font-size: 1vw;
    font-weight: 300;
    @include dflex(center, center, 0.7vw);
    border: rgba(0, 0, 0, 0.27) 0.1vw solid;
    background-color: transparent;
    text-decoration: none;
    color: black;
}
// --------------------------------------------------------------------------

// button2
// --------------------------------------------------------------------------
@mixin button2() {
    cursor: pointer;
    padding: 1.5vh 1.3vw;
    border-radius: 10vw;
    width: fit-content;
    font-size: 1vw;
    font-weight: 400;
    @include dflex(center, center, 0.7vw);
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    // empecher le a la ligne
    text-decoration: none;
    white-space: nowrap;
}
// --------------------------------------------------------------------------
// ===========================================================================
