// mixin center

@mixin dflex($align: center, $justify: center, $gap: 0, $direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-direction: $direction;
}
